@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

$padding: 10px;

* {
  font-family: 'Source Sans Pro', sans-serif;
}

div {
  font-weight: 600;
  text-transform: uppercase;
  p {
    padding: $padding;
  }
  span {
    padding: 15px;
  }
  button {
    padding: 10px;
    &:nth-child(odd) {
    margin-left: 70px;
    }
  }
}